@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
}

#resume {
    margin-top: 1% ;
    /* border: 2px solid brown; */
    height: 100%;
    width: 75%;
    margin: 0 auto;
}
#box-1 {
    background-color: rgb(86,86,86);
    height: 40vh ;
    display: flex;
    justify-content: center;
    align-items: center;

}
.photo {
    width: 20%;
    height: 65%;
}

#box-2 {
    background-color: rgb(238,238,238);
    width: 100%;
    height: 6vh;
    margin: 0 auto;
}

#box-3 {
    background-color: rgb(86,86,86);
    height: 6vh;
   

}
#name {
    font-size: 60px;
    color: rgb(33,38,31);
    width: 35%;
    height: 16vh;
    border-radius: 5px;
    position: absolute;
    margin-top: 17%;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(250,190,40);
    display: flex;
    justify-content: center;
    align-items: center;
   
    
}
#box-4 {
    background-color: rgb(255,255,255);
    height: 6vh;
    border-bottom: 1px solid rgb(86,86,86) ;
    color: rgb(86,86,86);
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}
@media (max-width:1074px) {
    
    #resume #box-1 #name {
        font-size: 50px;
    }

    #resume #box-4 {
        font-size: 14px;
    }

}
@media (max-width:1007px) {
    
    #resume #box-1 #name {
        margin-top: 20%;
    }

    

}
@media (max-width:906px) {
    
    #resume #box-1 #name {
        font-size: 30px;
    }

    #resume #box-4 {
        font-size: 10px;
    }
    

}
@media (max-width:849px) {
    
    #resume #box-1 #name {
        margin-top: 25%;
    }
}
@media (max-width:637px) {
    
    #resume #box-1 #name {
        margin-top: 28%;
    }

    #resume #box-4 {
        font-size: 8px;
    }
    

}
#details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(255,255,255);
    height: 100%;
    width: 90%;
    /* border: 1px solid blue; */
    margin: 1% 5% 1% 4%;
   
}
#partition-1 {
    /* border: 1px solid yellow; */
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    /* padding-right: 2%; */
    
}
#partition-2 {
    border-left: 1px solid rgb(86,86,86) ;
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-right: 2%;
    padding-left: 6%;
   
}
.title {
    display: flex;
    flex-direction: row;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    font-size: 25px;
    color: rgb(86,86,86);

}
.text {
    font-size: 15px;
    text-align: justify;
    letter-spacing: 0.1px;
    word-spacing: 1px;
}
.sub-title {
    text-align: center;
}
.ranger {

    padding: 0 145px 0 0 ;
}
.ranger-2 {
   
    padding-right: 145px;
}
.table-events {
    width: 357px;
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
   
}
.partition-1,.text-1 ul li {
    font-size: 15px;
    text-align: justify;
    letter-spacing: 0.4px;
    word-spacing: 3px;
    margin: 2% 0 0 8%;
}
.text-1 {
    font-family: 'Roboto', sans-serif;
}
.bold {
    font-weight: bolder;
    
}

@media (max-width:1075px) {
    #resume {
        width: 80vw;
    }
}

#slider {
    -webkit-appearance: none;
    background-color: rgb(238,238,238);
    height: 7px;

}
#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 17px ;
    height: 17px;
    border: 2px solid rgb(238,238,238);
    border-radius: 50%;
    background-color: white;
    transform: translateX(50%);
    background-image: url(profile.jpg);
}
#slider1 {
    -webkit-appearance: none;
    background-color: rgb(238,238,238);
    height: 7px;

}
#slider1::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 17px ;
    height: 17px;
    border: 2px solid rgb(238,238,238);
    border-radius: 50%;
    background-color: white;
    transform: translateX(50%);
    background-image: url(profile.jpg);
}

#progressBar {
    height: 7px;
    background: linear-gradient(to right, rgb(251,193,50), rgb(251,214,125), rgb(253,229,165));
    width: 73%;
    position: relative;
    bottom: 11px;

}
#progressBar1 {
    height: 7px;
    background: linear-gradient(to right, rgb(251,193,50), rgb(251,214,125), rgb(253,229,165));
    width: 73%;
    position: relative;
    bottom: 11px;

}
#progressBarTwo {
    height: 7px;
    background: linear-gradient(to right, rgb(251,193,50), rgb(251,214,125), rgb(253,229,165));
    width: 59%;
    position: relative;
    bottom: 11px;

}
#progressBarThree {
    height: 7px;
    background: linear-gradient(to right, rgb(251,193,50), rgb(251,214,125), rgb(253,229,165));
    width: 94%;
    position: relative;
    bottom: 11px;

}